<!-- as variaveis estão vindo das variaveis globais criadas no app.js e alimentadas no admin.js -->
{{#if success_msg}}
  <div class="alert alert-success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger">{{error_msg}}</div>
{{/if}}
